* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background: #DA4453;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #89216B, #DA4453) no-repeat;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #89216B, #DA4453) no-repeat;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
}

.main-header {
  height: 120px;
  margin: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 5px 1px rgba(37, 1, 48, 0.5);
  text-align: center;
}

.main-page {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.sizes {
  height: 150px;
  margin-bottom: 3rem;
}

input[type="number"] {
  width: 150px;
  margin: 1.5rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
}

input[type="submit"] {
  width: 150px;
  margin: 0 1.5rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  box-shadow: 5px 5px 15px 5px rgba(37, 1, 48, 0.5);
}

.colors {
  height: 150px;
}

input[type="color"] {
  width: 80px;
  height: 40px;
  padding: 2px 5px;
  border-style: none;
  border-radius: 5px;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 15px;
}

td {
  width: 15px;
}

.footer {
  height: 120px;
  margin: 3rem 0 0;
  box-shadow: 1px -3px 5px 1px rgba(112, 26, 40, 0.5);
  text-align: center;
  flex-shrink: 0;
}

.footer p {
  padding-top: 40px;
}